* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    padding: 0px 10px;
   
}

.brand-title a {
  text-decoration: none;
  color: #FFF;
}

.brand-title a:hover {
  text-decoration: none;
  color: grey;
}


.navbar-links {
    height: 100%;
   
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0px 10px;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}


 /*
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    padding: 25px;
  }*/
  
  img {
    max-width: 100%
  }

  .image {
    flex-basis: 100%  
  } 
  
  .text {
    font-size: 16px;
    padding: 20px;
  }

  
  .text h1 {
  text-align: left;
  }


.footer {
    padding: 40px 0;
    background-color: #373738;
    color: #fff;
  }
  .footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
  }
  .footer .social a {
    font-size: 24px;
    color: #CCC;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
  }
  .footer .social a:hover {
    opacity: 0.9;
  }
  .footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  .footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  .footer ul li {
    display: inline-block;
    padding: 0 15px;
  }
  .footer ul a:hover {
    opacity: 1;
  }
  .footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
  }

  .imageandtext {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
  }
  
  img {
    max-width: 100%;
    height: auto;
  
  }

   /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
   @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }

  }

  @media (max-width: 650px) {
    .imageandtext {
      display: block;
      font-size: 80%;
    }
   p {
      position: relative;
      margin: -1rem 0 2rem 1rem;
      padding: 1rem;
      background: rgba(white, 0.8);
     }
   }

  .button {
    background-color: rgba(255,255,255,0.4);
    color: black;
    border: 2px solid #555555;
    border-radius: 8px;
    color: #555555;
    padding: 16px 32px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }
  
  .button:hover {
    background-color: #555555;
    color: white;
  }

  /* styles for Skills section*/

  h1 {
    text-align: center;
  }

  div {
    column-gap: 10px;
  }
   
 .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: center;
    width: 100%;
   
  }

  
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 20px;
    margin: 10px;
    flex: 50%;
    border: #ccc solid 0px;
  }
  
  .flex-item-right {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
    padding: 20px;
    margin: 10px;
  }
  
  
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    
    .text h1 {
    padding-left: 35px;
    }
    
  }
  
  .flex-item-left p {
	text-align: left;
  }

  /* My work section */


.work-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
} 

.work-body img {
  width: 100%;

}
  
.wrapper{
  margin: 10px auto;
  width: 100%;
  padding: 20px;
}


 .wrapper img {
    max-width: 320px;
    float: left;
    margin-right: 15px;
    
  }

.text-box {
  color: #111;
  text-align: left;
}

.text-box h2 {
  font-size: 22px;
  
}

.text-box p{
  font-size: 16px;
}



/* expand and collapse text*/

.cutoff-text {
  --max-lines: 3; 
  --line-height: 1.4;
  display: flex;

  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);

  overflow: hidden;
  position: relative; 
 
}

.cutoff-text:has(+ .expand-btn:not(:checked)):before {
  content: "";
  position: absolute;
  height: calc(1em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, #f1f1f1);
}

 .expand-btn {
   appearance: none;
   border: 1px solid black;
   padding: .5em 2.5em;
   border-radius: .25em;
   cursor: pointer;
   margin-top: .15em;
 }

 .expand-btn:hover {
  background-color: #fff;
 }
 
 .expand-btn::before {
  content: "Expand";
 }

 .expand-btn:checked::before {
  content: "Collapse";
 }

 .cutoff-text:has(+ .expand-btn:checked) {
  max-height: none;
 }